.cart {

  &__table {
    &_mod {
      min-width: 1142px;
      border-collapse: collapse;
    }
  }

  &__text {
    font-size: 13px;
    font-weight: bold;
    color: #222222;
    letter-spacing: -0.01em;
    line-height: 20px;
    text-transform: uppercase;

    &_name {
      font-weight: normal;
    }

    &_specific {
      text-transform: none;
      font-weight: normal;
      color: #575757;
      line-height: 20px;
    }

    &_attribute {
      text-transform: none;
      font-weight: 300;
      color: #6f6e6e;
      line-height: 20px;
    }
  }

  &__row {
  }

  &__column {
    display: flex;
    //border-bottom: 1px solid #eaeaea;
  }

  &__description {
    //display: flex;
  }

  &__border {
    padding: 10px 23px;
    width: 57px;
    border: 1px solid #eaeaea;
  }

  &__buttons {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;;
  }

  &__btn {
    height: 50px;
    width: 235px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    text-transform: uppercase;

    &:hover {
      border: 1px solid #f16d7f;
    }
  }

}

td {
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}
