.show_goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}

.next_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.buy {

}

.head_like {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 72px;
}