@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 100px;
  background-color: white;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_left, .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 37px;
}

.header_browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 38px;
  width: 87px;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  border-right-width: 0px;
  background-color: #e6e6e6;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
  padding-right: 10px;
}

.header_browse:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 44px;
  left: -1px;
  z-index: 1;
}

.header_cart {
  position: relative;
  margin-right: 26px;
}

.header_cart:hover .header__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__drop {
  padding: 20px 17px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 37px;
  border: 1px solid #e8e8e8;
  display: none;
  left: -21px;
  z-index: 1;
}

.header__drop::after {
  content: '';
  width: 11px;
  height: 11px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: -6px;
  left: 33px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.header__drop__last {
  right: 0;
}

.header__drop__last::after {
  left: auto;
  right: 50px;
}

.header__drop__row {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 17px;
  border-bottom: 1px solid #ededed;
}

.header__drop__row_mod {
  margin-top: 19px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  border: none;
  padding-bottom: none;
}

.header__drop__h3 {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}

.header__drop__col {
  margin-left: 15px;
}

.header__drop__star {
  margin-top: 10px;
  font-size: 12px;
  color: #e4af48;
}

.header__drop__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #c0c0c0;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.header__drop__price {
  font-size: 12px;
  color: #f16d7f;
  text-transform: uppercase;
}

.header__drop__li {
  height: 50px;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__drop__li:not(:last-child) {
  margin-bottom: 11px;
}

.header__drop__li:hover {
  border: 1px solid #f16d7f;
}

.header__drop__li:hover .header__drop__link {
  color: #f16d7f;
}

.header__drop__link {
  font-size: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}

.header__drop__marginTop {
  margin-top: 13px;
}

.logo {
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.red_d {
  font-weight: 900;
  color: #f16d7f;
}

#search {
  border: 1px solid #e6e6e6;
  height: 38px;
  width: 317px;
  padding-left: 16px;
}

#btn_search {
  height: 38px;
  width: 36px;
  border: 1px solid #e6e6e6;
  border-left-width: 0;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_img {
  margin-right: 13px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 32px;
  padding-left: 19px;
  padding-right: 19px;
}

.arrow {
  margin-left: 8px;
  font-size: 10px;
}

.nav {
  background-color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_list {
  position: relative;
}

.menu_list:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_link {
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
  border-bottom: 3px solid #ffffff;
}

.menu_link:active {
  border-bottom: 3px solid #ef5b70;
}

.drop {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 55px;
  border: 1px solid #e8e8e8;
  display: none;
}

.drop::after {
  content: '';
  width: 11px;
  height: 11px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: -6px;
  left: 33px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.drop_last {
  right: 0;
}

.drop_last::after {
  left: auto;
  right: 50px;
}

.drop_h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
}

.drop_col {
  width: 234px;
}

.drop_col:not(:last-child) {
  margin-right: 46px;
}

.drop_link {
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.drop_link:hover {
  color: #f16d7f;
}

.drop_marginTop {
  margin-top: 13px;
}

.img_mega_menu {
  margin-left: -21px;
  margin-top: 15px;
}

.promo {
  height: 614px;
  background-color: #e8e8e8;
  background-image: url("img/promo.png");
  background-repeat: no-repeat;
  background-position: center -51px;
}

.promo_content {
  margin-top: 224px;
  float: left;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.promo_heading {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 33px;
}

.promo_heading_big {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 12px;
}

.stocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.stock_right {
  margin-right: 20px;
}

.stock_img_men {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 542px;
  width: 560px;
  background-color: lawngreen;
  background-image: url("img/img_men.png");
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.text_stock {
  height: 82px;
  width: auto;
  margin-top: 26px;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 20px;
}

.h2_text_stock {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  line-height: 18px;
}

.h1_text_stock {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  line-height: 30px;
}

.stock_img_purse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 261px;
  width: 560px;
  background-image: url("img/img_purse.png");
  background-repeat: no-repeat;
}

.stock_img_women {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 261px;
  width: 560px;
  background-image: url("img/img_women.png");
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.stock_img_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 542px;
  width: 560px;
  background-image: url("img/img_child.png");
  background-repeat: no-repeat;
}

.items {
  margin-top: 100px;
}

.header_fet_items {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.descrip_items {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
}

.item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item_goods {
  width: 261px;
  position: relative;
  margin-bottom: 31px;
}

.item_goods:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.item_goods:hover .img_goods {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.item_goods:hover .add_goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_goods {
  position: absolute;
  padding: 8px 12px;
  top: 97px;
  left: 70px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.add_goods:hover {
  -webkit-box-shadow: 0 0 5px #ffffff;
          box-shadow: 0 0 5px #ffffff;
  text-decoration: underline;
}

.img_add {
  margin-right: 8px;
}

.img_goods {
  width: 100%;
}

.content_goods {
  padding: 20px 15px;
}

.name_goods {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.cost_goods {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
}

.button_all_prod {
  display: block;
  width: 212px;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 18px 24px;
  margin: 0 auto;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 113px;
}

.sale_img {
  height: 529px;
  width: 767px;
  background-image: url("img/offer_1.png"), url("img/offer_3.png");
}

.offer_text {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 146px;
  margin-left: 39px;
}

.red {
  color: #f16d7f;
}

.offer_text_small {
  font-size: 32px;
  margin-top: 0;
}

.advantage {
  height: 529px;
  width: 373px;
  background-color: #222224;
  position: relative;
}

.delivery_img {
  position: absolute;
  top: 48px;
  left: 36px;
}

.sales_discount_img {
  position: absolute;
  top: 204px;
  left: 36px;
}

.quality_img {
  position: absolute;
  top: 358px;
  left: 32px;
}

.content_advantage {
  font-size: 14px;
  font-weight: 300;
  width: 236px;
  height: 100px;
  margin-top: 55px;
  margin-left: 111px;
  color: #fbfbfb;
  letter-spacing: 0.03em;
}

.big_text_advantage {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 17px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 438px;
  margin-top: 97px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 242, 242, 0.5)), to(rgba(242, 242, 242, 0.5))), url("img/img_subscribe.png");
  background: linear-gradient(rgba(242, 242, 242, 0.5), rgba(242, 242, 242, 0.5)), url("img/img_subscribe.png");
  background-repeat: no-repeat;
  background-position: center -51px;
}

.right_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.img_face_subscribe {
  width: 83px;
  height: 83px;
}

.right_content_subscribe {
  width: 426px;
  margin-left: 30px;
  padding-top: 5px;
}

.comment_personal_subscribe {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 26px;
  margin-bottom: 10px;
}

.autor_comment_subscribe {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.geo_comment_subscribe {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.left_subscribe {
  margin-top: 88px;
  margin-right: 91px;
}

.head_left_subscribe {
  font-size: 24px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.descrip_subscribe {
  font-size: 14px;
  line-height: 24px;
}

.form_subscribes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#email_subscribe {
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
  height: 46px;
  padding-left: 28px;
  width: 300px;
}

#btn_subscribe {
  border: none;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  height: 46px;
  color: #fff;
  padding: 0 20px;
}

#btn_subscribe:hover {
  -webkit-box-shadow: 0 0 5px #000000;
          box-shadow: 0 0 5px #000000;
}

.footer_block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description_company {
  width: 430px;
}

.descrip_footer_paragraf {
  height: 204px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #898989;
  letter-spacing: 0.03em;
  overflow: hidden;
  margin-top: 20px;
}

.paragraf_footer {
  margin-bottom: 20px;
}

.descrip_footer_paragraf:hover {
  height: auto;
}

.link_footer {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 39px;
}

.head_link_footer {
  margin-top: 8px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 16px;
}

.link_text_footer {
  color: #898989;
}

.link_text_footer:hover {
  color: #f16d7f;
  text-decoration: underline;
}

.footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  height: 79px;
}

.copyright {
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0.03em;
}

.link_social_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link_social_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 8px;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
}

.link_social_li:hover {
  background-color: #f16d7f;
}

.link_social_li:hover .link_social_img {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

.link_social_img {
  -webkit-filter: invert(15%);
          filter: invert(15%);
}

.link_social_li_facebook {
  background: url("img/icon_facebook.png");
  background-repeat: no-repeat;
}

/*Стили для страницы man_catalog*/
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
  background-color: #f8f3f4;
  margin-bottom: 59px;
}

.right_breadcrumbs {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  line-height: 20px;
  text-transform: uppercase;
}

.breadcrumb_link {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  line-height: 20px;
  text-transform: uppercase;
}

.breadcrumb_link:hover {
  color: #f16d7f;
  font-weight: bold;
}

.breadcrumb_link:not(:last-child)::after {
  content: ' / ';
}

.breadcrumb_link:last-child {
  font-weight: bold;
  color: #f16d7f;
}

.catalog_man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right_catalog_man {
  width: 243px;
  margin-right: 49px;
}

.detail_right_catalog_man {
  margin-bottom: 18px;
  width: 243px;
}

.head_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  padding-left: 11px;
}

.head_details::-webkit-details-marker {
  display: none;
}

.head_details::after {
  content: "\25B2";
  font-size: 10px;
}

.detail_right_catalog_man[open] > .head_details::after {
  content: '\25BC';
  color: #ef5b70;
  font-size: 10px;
}

.detail_right_catalog_man[open] > .head_details {
  color: #ef5b70;
}

.ul_list_filter {
  margin: 14px 0;
}

.list_filter {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
  padding-left: 17px;
}

.list_filter:hover {
  color: #ef5b70;
  text-decoration: underline;
}

.header_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
}

.heads_header_filter {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.btn-trend {
  border: none;
  background-color: #ffffff;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 14px;
  padding: 0 10px;
  border-left: 1px solid #dfdfdf;
}

.none_border_left {
  border-left: none;
  padding: 0 10px 0 0;
}

.btn-trend:hover {
  color: #000000;
}

.size {
  width: 240px;
}

.input_size {
  margin-right: 9px;
}

.label_size {
  font-size: 14px;
  color: #6f6e6e;
  text-transform: uppercase;
  margin-right: 23px;
  float: left;
}

.price {
  width: 263px;
}

.sort_view_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}

.sort_catalog_man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #f3f3f3;
  margin-bottom: 48px;
}

.form_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input_sort {
  height: 30px;
  width: auto;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-right: none;
  padding: 0px 13px;
  margin-left: 10px;
}

.select_sort {
  height: 30px;
  width: auto;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 0px 13px;
}

.left_catalog_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left_catalog_pages_view_all {
  font-size: 16px;
  font-weight: 300;
  color: #ef5b70;
  line-height: 26px;
  height: 44px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
}

.left_catalog_pages_view_all:hover {
  color: #fbfbfb;
  background-color: #ef5b70;
}

.jump_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 261px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.next_page {
  font-size: 16px;
  font-weight: 300;
  color: #c4c4c4;
  line-height: 26px;
}

.next_page_red {
  color: #ef5b70;
}

.next_page:first-child, .next_page:last-child {
  font-size: 20px;
}

.next_page:hover {
  color: #222224;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 110px;
  height: 341px;
  background-color: #222224;
}

.service-block {
  text-align: center;
}

.head_service {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-top: 25px;
}

.paragraph_service {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  line-height: 24px;
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-top: 17px;
}

.show_goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  height: 777px;
}

.breadcrumbs_not_margin {
  margin-bottom: 0;
}

.next_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: white;
  line-height: 24px;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.buy_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: -70px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.buy_head_1 {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 73px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.buy_head_1_border {
  margin-top: -2px;
  width: 63px;
  border-bottom: 3px solid #ef5b70;
}

.buy_head_2 {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.buy_description {
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  line-height: 24px;
  margin-top: 64px;
  padding-right: 258px;
  padding-left: 258px;
}

.buy_property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 28px;
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  text-align: center;
  line-height: 24px;
}

.buy_material {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  text-align: center;
  line-height: 24px;
}

.buy_margin_right {
  margin-right: 44px;
}

.buy_dark {
  color: #2f2f2f;
}

.buy_cost {
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
  text-align: center;
  line-height: 24px;
  margin-top: 37px;
}

.buy_cost_border {
  width: 642px;
  margin: 0 auto;
  margin-top: 42px;
  border-bottom: 1px solid #eaeaea;
}

.buy_form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 63px;
}

.buy_form_input_block:not(:last-child) {
  margin-right: 53px;
}

.buy_form_input_head {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  line-height: 24px;
}

.buy_input {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  color: #bcbcbc;
  line-height: 24px;
  padding-left: 15px;
  margin-top: 12px;
}

.buy_color_show {
  height: 12px;
  width: 12px;
  background-color: #ef5b70;
}

.buy_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #fff;
  margin-top: 28px;
  margin-bottom: 122px;
  font-size: 16px;
  font-weight: bold;
  color: #ef5b70;
}

.buy_img_cart {
  margin-right: 15px;
}

.head_like {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 119px;
  margin-bottom: 72px;
}

.checkout__action {
  padding: 34px 0;
  border-bottom: 1px solid #e8e8e8;
}

.checkout__head {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}

.checkout__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 35px;
}

.checkout__left {
  margin-right: 291px;
}

.checkout__headform {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.checkout__text {
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
  margin-top: 15px;
}

.checkout__text_bottom {
  margin-bottom: 34px;
}

.checkout__text_field {
  font-size: 13px;
  color: #ff0d0d;
  line-height: 20px;
  margin-top: 22px;
}

.checkout__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__radio_bottom {
  margin-bottom: 20px;
}

.checkout__label {
  font-size: 12px;
  color: #222222;
  line-height: 20px;
  text-transform: uppercase;
}

.checkout__label_radio {
  margin-left: 14px;
}

.checkout__label_red {
  font-size: 17px;
  color: #ff0d0d;
  line-height: 20px;
}

.checkout__button {
  height: 50px;
  width: 180px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}

.checkout__button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.checkout__input {
  height: 45px;
  width: 390px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 0 20px;
  margin-top: 16px;
}

.checkout__input:not(#password) {
  margin-bottom: 26px;
}

.checkout__input:hover {
  border: 1px solid #f16d7f;
}

.checkout__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.checkout__password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.checkout__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__table_mod {
  min-width: 1142px;
  border-collapse: collapse;
}

.cart__text {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  letter-spacing: -0.01em;
  line-height: 20px;
  text-transform: uppercase;
}

.cart__text_name {
  font-weight: normal;
}

.cart__text_specific {
  text-transform: none;
  font-weight: normal;
  color: #575757;
  line-height: 20px;
}

.cart__text_attribute {
  text-transform: none;
  font-weight: 300;
  color: #6f6e6e;
  line-height: 20px;
}

.cart__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__border {
  padding: 10px 23px;
  width: 57px;
  border: 1px solid #eaeaea;
}

.cart__buttons {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__btn {
  height: 50px;
  width: 235px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}

.cart__btn:hover {
  border: 1px solid #f16d7f;
}

td {
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}
/*# sourceMappingURL=style.css.map */