* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(236, 236, 236, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left,
.header_right {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.red_d {
  font-weight: 900;
  color: #f16d7f;
}

.header_form {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.header_browse {
  height: 38px;
  width: 87px;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  border-right-width: 0px;
  background-color: #e6e6e6;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 32px;
  padding-right: 9px;
}

#search {
  border: 1px solid #e6e6e6;
  height: 38px;
  width: 317px;
  padding-left: 16px;
}

#btn_search {
  height: 38px;
  width: 36px;
  border: 1px solid #e6e6e6;
  border-left-width: 0;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
}

.header_cart {
  margin-right: 26px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_img {
  margin-right: 13px;
}

.button {
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 32px;
  padding-left: 19px;
  padding-right: 19px;
}

.arrow {
  line-height: 10px;
}

.nav {
  background-color: #ffffff;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu_link {
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: rgba(34, 34, 34, 1);
  line-height: 26px;
  text-transform: uppercase;
}

.promo {
  height: 614px;
  background-color: rgba(232, 232, 232, 1);
  background-image: url('img/promo.png');
  background-repeat: no-repeat;
  background-position: center -51px;
}

.promo_content {
  margin-top: 224px;
  float: left;
  border-left: 12px solid  rgba(241, 109, 127, 1);
  padding-left: 12px;
}

.promo_heading {
  font-size: 40px;
  font-weight: 900;
  color: rgba(34, 34, 34, 1);
  letter-spacing: 0.03em;
  line-height: 33px;
}

.promo_heading_big {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 12px;
}

.stocks {
  display: flex;
  margin-top: 100px;
}

.stock_right {
  margin-right: 20px;
}

.stock_img_men {
  display: flex;
  align-items: flex-start;
  height: 542px;
  width: 560px;
  background-color: lawngreen;
  background-image: url('img/img_men.png');
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.text_stock {
  height: 82px;
  width: auto;
  margin-top: 26px;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 20px;
}

.h2_text_stock {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  line-height: 18px;
}

.h1_text_stock {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  line-height: 30px;
}

.stock_img_purse {
  display: flex;
  align-items: flex-start;
  height: 261px;
  width: 560px;
  background-image: url('img/img_purse.png');
  background-repeat: no-repeat;
}

.stock_left {

}

.stock_img_women {
  display: flex;
  align-items: flex-start;
  height: 261px;
  width: 560px;
  background-image: url('img/img_women.png');
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.stock_img_child {
  display: flex;
  align-items: flex-start;
  height: 542px;
  width: 560px;
  background-image: url('img/img_child.png');
  background-repeat: no-repeat;
}

.items {
  margin-top: 100px;
}

.header_fet_items {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.descrip_items {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
}

.item_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item_goods {
  width: 261px;
  position: relative;
  margin-bottom: 31px;
}

.item_goods:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.item_goods:hover .img_goods {
  filter: brightness(50%);
}

.item_goods:hover .add_goods {
  display: flex;
}

.add_goods {
  position: absolute;
  padding: 8px 12px;
  top: 97px;
  left: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.add_goods:hover {
  box-shadow: 0 0 5px #ffffff;
  text-decoration: underline;
}

.img_add {
  margin-right: 8px;
}

.img_goods {
  width: 100%;
}

.content_goods {
  padding: 20px 15px;
}

.name_goods {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.cost_goods {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
}

.button_all_prod {
  display: block;
  width: 212px;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 18px 24px;
  margin: 0 auto;
}